{% extends "base.html" %}
{% block content %}
<h2>La liste des conférences</h2>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  {% for c in object_list %}
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.location }}</td>
    <td>
      <a href="{% url 'ConferenceApp:ConferenceDetails' c.pk %}">Détails</a>
      {% if user.is_authenticated and user.role == "commitee"%}
      <a href="{% url 'ConferenceApp:ConferenceUpdate' c.pk %}">Modifier</a>
      <a href="{% url 'ConferenceApp:ConferenceDelete' c.pk %}">Supprimer</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>



<a href="{% url 'ConferenceApp:ConferenceAdd' %}">Ajouter une conférence</a>
{% endblock content %}